<% if flash[:notice] %>
<%= flash[:notice] %>
         <% end %>

<h1>welcome to Bookers !!</h1>
<h1 class="fas fa-book"></h1>
<h4>In Bookers,</h4>
<li class="fas fa-book"></li>
<p>you can share and exchange your opinions , inpressions , and emotions</br>

about various books! </p>

<%= link_to "Log in",new_user_session_path %>
<%= link_to "Sign Up",new_user_registration_path %>


